<!-- <header>
    <span>Tareas App</span>

    <ul>
        <li>
            <a routerLink="home">Home</a>
        </li>
        <li>
            <a routerLink="users">Users</a>
        </li>
        <li>
            <a routerLink="photos">Photos</a>
        </li>
    </ul>

    <span>{{user.email}}</span>
</header> -->

<mat-toolbar color="primary">
    <span>MyApp</span>
    <span class="spacer"></span>
    <a *ngIf="!loginStatus" mat-flat-button color="primary" routerLink="login">Login</a>
    <a *ngIf="loginStatus" mat-flat-button color="primary" routerLink="users">Users</a>
    <a *ngIf="loginStatus" mat-flat-button color="primary" routerLink="photos">Photos</a>
    <a *ngIf="!loginStatus" mat-flat-button color="primary" routerLink="signup">Registro</a>
    <a *ngIf="loginStatus" mat-flat-button color="primary" (click)="logout()">Cerrar sesión</a>
</mat-toolbar>
