.container {
    max-width: 800px;
    margin: 0 auto;

    .messages {
        width: 100%;
        box-sizing: border-box;
        border: solid 1px lightgray;
        border-radius: 4px;
        min-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 8px;

        .message {
            width: 50%;
            float: left;
            padding: 8px 12px;
            background-color: white;
            border: solid 1px gray;
            border-radius: 6px;
            margin-left: 5px;
            margin-bottom: 10px;

            &.owned {
                float: right;
                background-color: lightblue;
                margin-right: 5px;
            }
        }
    }

    form {
        width: 100%;

        button {
            width: 50px;
            height: 50px;
        }

        mat-form-field {
            width: calc(100% - 50px);
        }
    }
}
